<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Menu | Acme</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div align="center" class="col-md-12">
        <div class="col-md-6" style="text-align: left">
            <h2>Menu</h2>
            <p>Welcome to Acme! Select one of these actions:</p>
            <ul>
                <li><a href="addform.html" th:href="@{/add}">Add a Product</a></li>
                <li><a href="#" th:href="@{/load}">Load Products (Bulk Add)</a></li>
                <li><a href="#" th:href="@{/list}">List Products</a></li>
                <li><a href="#" th:href="@{/email}">Show E-mail Schedule</a></li>
            </ul>
            <div class="alert alert-success col-md-6" th:if="${successMsg}" th:text="${successMsg}" role="alert"></div>
        </div>
    </div>
</body>
</html>
