<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Load Products | Acme</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  </head>
  <body>
    <a href="menu.html" th:href="@{/}">&lt; Menu</a>
    <div align="center" class="col-md-12">
        <div class="col-md-6" style="text-align: left">
            <h2>List Products</h2>
            <table class="table table-striped table-primary">
                <thead class="thead-light">
                    <tr class="table-info">
                        <td>Customer ID</td>
                        <td>Product</td>
                        <td>Domain</td>
                        <td>Start Date</td>
                        <td>Duration (Months)</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product, iStat : ${products}" th:style="${iStat.odd} ? 'font-weight: normal;'">
                        <td th:text="${product.customer.customerName}"></td>
                        <td th:text="${product.type.label}"></td>
                        <td th:text="${product.domain}"></td>
                        <td th:text="${#dates.format(product.startDate, 'yyyy-MM-dd')}"></td>
                        <td th:text="${product.durationMonths}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </body>
</html>
